* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background79.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__titte {
  text-align: center;
  font-size: 50px;
  color: #0e3b38;
}

.inner {
  display: flex;
  justify-content: center;
}

.inner__item {
  text-align: center;
}

.inner__img {
  max-width: 600px;
  height: 435px;
  padding: 10px 10px;
  margin: 30px 30px;
  border: 1px solid #6a4a17;
  display: block;
}

.inner-subtitle__left {
  margin: 0;
  position: absolute;
  font-size: 1em;
  font-weight: 200; 
  left: 392px;
  top: 536px;
  padding: 6px 20px 6px 10px;
  background: hsla(21, 37%, 15%, 0.2);
  color: white;
  height: 50px;
}

.inner-subtitle__right {
  margin: 0;
  position: absolute;
  font-size: 1em;
  font-weight: 200; 
  right: 663px;
  top: 536px;
  padding: 6px 20px 6px 10px;
  background: hsla(21, 37%, 15%, 0.2);
  color: white;
  height: 50px;
} 

.btn {
  color: #ffffff;
  background-color: #0e3b38;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px;
  margin: 60px 0px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0,.7);
}

.btn:hover {
  color: #ffffff;
  background-color: #155753;
}